* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 5px;
  font-family: sans-serif;
}

.application {
  display: flex;
  flex-flow: row wrap;
}

.application > * {
  flex: 1 100%;
}

.authors-list {
  width: 25%;
  flex: 1 auto;
}

.authors-list h1 {
  background-color: #2d3138;
  color: #fff;
  margin: 0;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.list--regular {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.list__item--author {
  text-align: center;
  padding: 10px;
  background-color: #dee9fc;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .3);
  color: #000;
  font-size: 14px;
  border: 2px solid #93969b;
  border-top: none;
  transition: background-color .2s, box-shadow .1s;
}

.list__item--author:hover {
  background-color: #effafd;
  cursor: pointer;
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .3);
}

.list__item--author:active {
  box-shadow: inset 0px 0px 8px rgba(0, 0, 0, .5);
}

.list__item--author:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.authors-picker {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 10px;
  padding-bottom: 5px;
  border: 2px solid #93969b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  list-style-type: none;
}

.author--picked {
  white-space: nowrap;
  background-color: #dee9fc;
  border-radius: 3px;
  border: 1px solid #000;
  padding: 5px;
  padding-right: 20px;
  margin-right: 20px;
  margin-bottom: 5px;
  position: relative;
  max-width: 25%;
  font-size: 12px;
}

.author__close {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  position: relative;
  right: -15px;
  padding: 4px;
  background-color: #cdd8eb;
  border-radius: 3px;
  cursor: pointer;
}

.author__close:hover {
  background-color: #bcc7da;
}

.results {
  width: 75%;
  flex: 1 auto;
}

.results table {
  width: 100%;
  height: 100%;
}

.results thead tr {
  background-color: #c7e4ed;
}

.results tbody tr:nth-child(odd) {
  background-color: #d6d7d8;
}

.results tbody tr:nth-child(even) {
  background-color: #e2e2e2;
}

.results td {
  text-align: center;
  padding: 10px;
}
